{% load static %}
<html>
    <head>
        <title>Simulateur</title>
        <link rel="stylesheet" href="{% static 'cash_flows/styles.css' %}" />
        <link rel="stylesheet" href="{% static 'cash_flows/table.css' %}" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <form action="" method="post" novalidate>
                
                {% csrf_token %}
              
                <fieldset>
                    <legend>Scénario locatif</legend>
                    {% for field in rent %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                </fieldset>
              
                <fieldset>
                    <legend>Acquisition</legend>
                    {% for field in acquisition %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                </fieldset>

                <fieldset>
                    <legend>Charges locatives</legend>
                    {% for field in charge %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                </fieldset>
              
                <fieldset>
                    <legend>Financements</legend>
                    {% for field in loan %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                </fieldset>
                
              <input type="submit" value="Envoyer">
            </form>
            <script src="{% static 'cash_flows/currency.js' %}"></script>
        </div>

        {% if results %}
            <div class="tabs">
                <ul class="tab-links">
                    <li class="active"><a href="#rent">Loyers</a></li>
                    <li><a href="#loan">Financements</a></li>
                    <li><a href="#taxation">Fiscalité</a></li>
                    <li><a href="#treasury">Trésorerie</a></li>
                </ul>
            
                <div class="tab-content">
                    <div id="rent" class="tab active">
                        <div class="table-container">
                            {{ results.rent|safe }}
                        </div>
                    </div>
            
                    <div id="loan" class="tab">
                        <p>Mensualité = {{ monthly_payment }}€</p>
                        <div class="table-container">
                            {{ results.loan|safe }}
                        </div>
                    </div>

                    <div id="taxation" class="tab">
                        <div class="table-container">
                            {{ results.taxation|safe }}
                        </div>
                    </div>

                    <div id="treasury" class="tab">
                        <div class="table-container">
                            {{ results.treasury|safe }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </body>
</html>
