/*----- Tabs -----*/
.tabs {
	width:100%;
	display:inline-block;
    justify-content: center;
}

/*----- Tab Links -----*/
.tab-links {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
}

/* Clearfix */
	.tab-links:after {
	display:block;
	clear:both;
	content:'';
}

.tab-links li {
	margin:0px 5px;
	float:left;
	list-style:none;
}

.tab-links a {
	padding:9px 15px;
	display:inline-block;
	border-radius:3px 3px 0px 0px;
	background:#0056b3;
	font-size:16px;
	font-weight:600;
	color:#ffffff;
	transition:all linear 0.15s;
}

.tab-links a:hover {
	background:#a7cce5;
	text-decoration:none;
}

li.active a, li.active a:hover {
	background:#fff;
	color:#4c4c4c;
}

/*----- Content of Tabs -----*/
.tab-content {
	padding:40px;
}

.tab {
	display:none;
}

.tab.active {
	display:block;
}

table {
    border-collapse: collapse;
    text-align: left;
    background-color: #fff;
}

.table-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-container td, .table-container th{
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1em;
}

.table-container th {
    text-align: center;
    font-size: 14px;
}

.table-container td {
    text-align: right;
    font-size: 12px;
}

.table-container thead th{
    background: #0056b3;
    color: #ffffff;
}

.table-container tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.table-container tbody tr:nth-child(odd) {
    background-color: #ededed;
}

.table-container tbody tr:hover {
    background-color: #a9d3ff;
}